<div class="layout">

  <!-- Sidebar starts -->
  <aside class="sidebar" [class.open]="isSidebarOpen">
    <app-sidebar (closeEmitter)="closeSideBar()"></app-sidebar>
  </aside>
  <!-- Sidebar Ends -->
  
  <div class="content">

    <!-- Top bar (for mobile only) starts -->
    <header class="topbar">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <button class="menu-btn" *ngIf="!isSidebarOpen" (click)="toggleSidebar()">☰</button>
        <button class="menu-btn" *ngIf="isSidebarOpen" (click)="closeSideBar()">X</button>
        <h3 class="text-danger"><i>Santa Inc</i></h3>
      </div>
    </header>
    <!-- Top bar (for mobile only) ends -->

    <!-- Main area starts-->
    <main>
      <div class="tree flip-horizontal w-100 justify-content-start">
        <div class="w-200" style="width: 200px;">
          <img _ngcontent-brh-c21="" src="assets/tree.png" class="w-100">
        </div>

      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
  <!-- Main area ends-->

</div>